html { font-family: 'Open Sans', sans-serif; }

li { list-style-type: none; }

#navBarMain #mainNavText { width: 100%; border: none; line-height: 52px; font-weight: 600; font-size: 1.7em; }

#navBar { width: 100%; }
#navBarLessons { float:left; width:33.33%; line-height:52px;}
#navBarHome { float:left; width:33.33%; line-height:52px;}
#navBarBlog { float:left; width:33.33%; line-height:52px;}

#navBarLessons a{width:100%;}
#navBarBlog a{ width:100%%;}



#pageTitle
{
font-size:1.2em !important;
}

#prev { display: block; width: 100%; height: 100%; margin: 0; padding: 0}

#navBarMain { margin:0 auto; background: white; }

#homeLogo { padding:15px 0 10px 0; width:85%; display: block; margin:auto; margin-bottom: 10px;}

.listButton { width:200px; margin:0 15px; }
.list .listButton img { width: 15px; margin-right: 15px;}
.listButton a { text-decoration: none; color: rgba(82,155,234,255); vertical-align: top; }

.marginFix { margin-top: 25px; }

.inTextButton { width: 95%; margin: 0 auto; margin-bottom: 25px; }
.inTextButton a { display: block; color:rgba(82,155,234,255); text-decoration: none; text-align: center; font-size: 1.5em; width: 100%; line-height: 75px;}

.subLesson { width: 94%; margin: 0 auto; margin-bottom: 25px; }
.subLesson a { display: block; color:rgba(82,155,234,255); text-decoration: none; text-align: center; font-size: 1.5em; width: 100%; line-height: 75px; background-color: #f8f8f8; border: 1px dotted rgba(82,155,234,255); }
 
.results { width: 100%; display: inline-block;}
.results li a { color:rgba(82,155,234,255); text-decoration: none; text-align: center; font-size: 1.5em; width: 100%; line-height: 25px; padding: 10px 0; }

.coursesButton { width:46px; margin:0 auto;	}

#content { margin: 20px; outline: 1px dotted rgba(82,155,234,255); outline-offset:1px; background: rgba(255, 255, 255, 0.5); }

hr { 
    clear:both;
    display:block;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.45), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.45), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.45), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.45), rgba(0,0,0,0)); 
}
h1, h3 { font-family: 'Open Sans', sans-serif; text-align: center; line-height: 20px;}
h1 { font-size: 2em; font-weight: normal; padding: 40px 20px 20px 20px; font-weight: 600;}
h3 { font-size: 1.3em; display: block; width: 80%; margin: 0 auto; margin-bottom: 25px; font-weight: 600;}

.formQuestions { 
    float: left;
    margin-left: 4%;
    border-bottom: 1px solid #ccc; 
    margin-bottom: 25px; 
    padding-bottom: 25px; 
    background-color:#fff;
    width: 92%;
    padding: 20px;
    border-style:dotted;
    border-color:rgba(82,155,234,255);
    border-width:thin;
}
.formQuestions label { font-family: 'Open Sans', sans-serif; font-size: 1.1em !important; }
.formQuestions label:last-child { margin-bottom: 20px; }

.fullButton { width: 100%; height: 25px; line-height: 25px; }

.videoHolder
{
    width:100%;
    margin-top:20px;
    margin-bottom:15px;    
}

.centerText
{
text-align:center;
}
.mainTitle {
    font-family: 'Open Sans', sans-serif;
    color: rgba(82,155,234,255);
    font-size: 1.4em;
    font-weight: 500;
    line-height: 30px;
    padding:10px;
    background-color:#fff;
    border-bottom: none;
}
.question
{
    margin-bottom:10px;
    margin-top:10px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
}


.lessonVideo
{
width:94%;
height:94%;
margin-left:3%;
margin-right:3%;
margin-top:20px;
margin-bottom:20px;
}
.videoInfo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-align:center;
    color:rgba(82,155,234,0.7);
    font-size: 1.3em;
    width: 94%;
    margin: 0 auto;
    padding:20px 0;
    background-color: rgba(248, 248, 248, 0.5);
    border: 1px dotted rgba(82,155,234,255);
    margin-bottom: 25px;
}
.videoTitle
{
text-align:center;
color:rgba(82,155,234,255);
font-size: 18px;
font-weight: 400;
    margin-bottom: -40px;
line-height: 30px;
padding:10px;
background-color:#fff;
}
.readingText
{
padding:25px;
margin-top:20px;
margin-bottom:20px;
background-color:#fff;
border-style:dotted;
border-color:#000;
border-width:thin;
width: 92%;
    margin-left: 4%;
}
.subTitleText 
{
padding:20px;
margin-top:10px;
margin-bottom:10px;
background-color:#fff;
border-style:dotted;
border-color:#000;
border-width:thin;
}
#main_buy {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-align:center;
    color:rgba(82,155,234,255);
    font-size: 1.3em;
    margin: 0 auto;
    padding:20px 0;
    background-color: #f8f8f8;
    margin-top:30px;
    border: 1px dotted rgba(82,155,234,255);
}

#dashboard-list div,
#dialog p {
    text-align: center;
}

